.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.test {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0.5;
  z-index: 5;
}

.lock {
  overflow: hidden;
}

.test-button{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}