//backgrounds
$section-head-color: #101010;
$section-subhead-color: #101010;
$section-description-color: #373737;
$button-primary-color: #fff;
$button-primary-bg: #FF574D;
$button-primary-bg-hover: #D34137;
$button-secondary-color: #101010;
$button-secondary-border: #fff;
$button-secondary-bg: #fff;
$button-secondary-color-active: #f1f1f1;
$button-secondary-bg-active: #2B8E53;
$button-secondary-border-active: #2B8E53;
$pagination-number: #101010;
$pagination-number-active: #FF574D;
$main-slider-content-bg: #F1F1F1;
$main-slider-title: #101010;
$main-slider-description: #373737;
$second-slider-bg: #f1f1f1;
$slider-icon: #101010;
$slider-icon-hover: #FF574D;
$nav-link-hover: #2B8E53;
$marquee-color: #fff;
$marquee-bg: #373737;
$social-networks-icon: #2B8E53;
$header-primary-bg: #f1f1f1;
$header-secondary-bg: #fff;
$header-primary-color: #101010;
$header-secondary-color: #373737;
$header-nav-shadow: #000;
$header-toggle-line: #2B8E53;
$top-panel-shadow: #000;
$dropdown-bg: #fff;
$dropdown-shadow: #000;
$dropdown-link-hover: #2B8E53;
$callback-bg:#2B8E53;

$green-bg: #2B8E53;
$section-primary-bg: #f1f1f1;

$branches-bg: #f1f1f1;
$branches-link-text: #101010;
$top-panel-logo: #DBDBDB;
$instructors-head-text-desk: #fff;
$instructors-head-text-tablet: #101010;
$instructors-head-bg: #2B8E53;
$instructors-btn-more: #2B8E53;
$autopark-inscription-text: #fff;
$autopark-inscription-bg: #FF574D;
$opinions-bg: #f2f2f2;
$faq-head: #fff;
$faq-bg: #2B8E53;
$faq-item-bg: #f1f1f1;
$faq-button-text: #101010;

//fonts
$basic-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
$second-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;

//break-points
$mobile: 640px;
$tablet: 992px;
$tablet-large: 1120px;
$tablet-pro: 1295px;
$desktop: 1300px;
$desktop-pro: 1500px;
