.autopark-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 300px);
  max-width: 1405px;
  height: 373px;
  overflow: hidden;
}