.autopark-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media ($mobile) {
    display: none;

    &._active {
      display: block;
    }
  }
}

.autopark-item:first-child {
  // margin-left: 40px;
}

.autopark-item:last-child {
  margin-top: -24px;
  // margin-left: -248px;
}

.autopark-item__pic {
  cursor: pointer;

  &._active {
    width: 526px;
    height: 286px;
  }
}

.autopark-item__inscription {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  @include font(16px, 21px, $basic-family);
  color: #fff;
  background-color: #FF574D;
  max-width: 190px;
  padding: 20px;
  border-radius: 10px;

  &._active {
    display: flex;
  }

  @include media ($mobile) {
    display: flex;
  }
}