.autopark {
  margin-bottom: 150px;
}

.autopark__container {
  @include media ($tablet-pro) {
    position: relative;
  }
}

.autopark__head {
  text-align: center;
  margin-bottom: 70px;

  @include media ($tablet) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.autopark__pagination {
  @include media ($tablet-pro) {
    bottom: -50px;
    left: 40px;
    position: absolute;
    display: flex;
  }

  @include media ($tablet) {
    bottom: -42px;
    left: 17px;
  }
}