.button {
  display: inline-block;
  @include font(16px, 19px, $basic-family, bold);
  vertical-align: top;
  border: 2px solid transparent;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  transition: background-color .2s ease, border-color .2s ease, color .2s ease;
  min-width: 190px;
}

.button--md {
  padding: 15px 28px;
}

.button--primary {
  color: $button-primary-color;
  background-color: $button-primary-bg;
  border-color: $button-primary-bg;

  @include hover {
    &:hover {
      background-color: $button-primary-bg-hover;
    }
  }
}

.button--outline-primary {
  color: $button-primary-bg;
  background-color: transparent;
  border-color: $button-primary-bg;

  @include hover {
    &:hover {
      color: $button-primary-color;
      background-color: $button-primary-bg;
    }
  }
}

.button--secondary {
  color: $button-secondary-color;
  border: 2px solid $button-secondary-border;
  background-color: $button-secondary-bg;
    &:active {
      background-color: $button-secondary-bg-active;
      color: $button-secondary-color-active;
      border-color: $button-secondary-border-active;
    }
}