.contacts {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
  justify-content: flex-end;

  @include media ($tablet) {
    flex-direction: column-reverse;
    gap: 0;
    order: 1;
    align-items: center;
  }

  @include media ($mobile) {
    align-items: flex-start;
  }
}

.contacts__container {
  @include media ($mobile) {
    margin: 0;
  }
}

.contacts__text {
  @include font(16px, 19px, $basic-family, bold);
  color: $header-primary-color;
  text-decoration: none;
}

.contacts__text--email {
  display: flex;
  gap: 10px;

  &::before {
    content: '';
    display: block;
    background: url(../img/mail.svg) no-repeat 0 0;
    width: 20px;
    height: 20px;

    @include media ($tablet) {
      background: url(../img/email-mobile.svg) no-repeat 0 0;
    }
  }
}

.contacts__phones {
  display: flex;
  gap: 10px;

  @include media ($tablet-large) {
    // display: block;
    flex-direction: column;
    // gap: 14px;
    // margin-right: 30px;
    text-align: right;
  }

  @include media ($tablet) {
    margin-bottom: 20px;
  }
}

.contacts__text--phone-first {
  display: flex;
  gap: 10px;

  &::before {
    content: '';
    display: block;
    background: url(../img/phone.svg) no-repeat 0 0;
    width: 20px;
    height: 20px;

    @include media ($tablet) {
      background: url(../img/phone-mobile.svg) no-repeat 0 0;
    }
  }
}

.contacts__text--phone-second {
  @include media ($tablet) {
    margin-left: 30px;
  }
}