.dropdown__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown__link {
  display: block;
  text-decoration: none;
  @include font(16px, 19px, $basic-family);
  color: $header-grey;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover {
    color: $link-hover;
    @include font(16px, 21px, $basic-family, bold);
  }
}

.js-dropdown {
  display: none;
}