.header {
  position: relative;
  padding-bottom: 70px;
}

.header__top-panel {
  padding-top: 25px;
  padding-bottom: 25px;

  @include media ($tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__toggle {
  display: none;
  width: 26px;
  height: 13px;
  background-color: $header-secondary-bg;
  cursor: pointer;
  border: 0;
  z-index: 4;
  position: relative;
  margin-left: auto;

  @include media($tablet) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
  }
}

.header__toggle-line {
  height: 2px;
  background-color: $header-toggle-line;
  position: absolute;
  top: 5px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: background-color .2s ease;

  &:after,
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $header-toggle-line;
    transition: transform .2s ease;
  }

  &:before {
    transform: translateY(-6px);
  }

  &:after {
    width: 16px;
    transform: translateY(6px);
  }
}

.header__toggle._active {
  .header__toggle-line {
    background-color: transparent;
  }

  .header__toggle-line:before {
    transform: translateY(0) rotate(45deg);
  }

  .header__toggle-line:after {
    width: 26px;
    transform: translateY(0) rotate(-45deg);
  }
}


// .header{
//   padding-bottom: 70px;
// }

.header__nav {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 5px 10px 30px rgba($header-nav-shadow, 0.1);
  background: $header-secondary-bg;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @include media ($tablet) {
    position: static;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin-bottom: 40px;
  }
}

.header__overlay {

  @include media($tablet-pro) {
    flex-grow: 1;
    display: flex;
  }

  @include media($tablet) {
    display: block;
    flex-grow: 0;
    position: fixed;
    inset: 0;
    background: $header-secondary-bg;
    z-index: 5;
    transition: transform .2s ease;
    transform: translateY(100%);
    margin-top: 160px;
  }

  @include media($mobile) {
    margin-top: 70px;
  }
}

.header__callback {
  margin-left: auto;

  @include media ($tablet-pro) {
    width: 45px;
    height: 45px;
    background: url(../img/phone-callback.svg) no-repeat center;
    background-color: $callback-bg;
    border-radius: 10px;
    font-size: 0;
    padding: 0;
  }
}