.instructors {
  margin-bottom: 150px;
  overflow: hidden;

  @include media ($tablet) {
    margin-bottom: 80px;
  }
}

.instructors__container {
  display: grid;
  grid-template-columns: 3fr 8fr;
  align-items: flex-start;

  @include media ($tablet-large) {
    display: flex;
    flex-direction: column;
  }
}

.instructors__head {
  color: #fff;
  position: relative;
  padding: 40px 46px 40px 0;

  @include media ($tablet-large) {
    color: #101010;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0 0 0 auto;
    width: 100vw;
    background-color: #2b8e53;
    z-index: -1;

    @include media ($tablet-large) {
      display: none;
    }
  }

  @include media ($tablet) {
    color: #101010;
  }
}

.instructors__break {
  @include media ($tablet-large) {
    display: none;
  }
}

.instructors__right {
  display: grid;
  grid-template-columns: 5fr 3fr;
  column-gap: 30px;
  align-items: flex-start;
  width: 1226px;

  @include media ($tablet-pro) {
    width: 1224px;
  }

  @include media ($tablet-large) {
    order: 2;
    margin-top: 40px;
    grid-template-columns: none;
    justify-content: stretch;
  }
}

.instructors__main-slider-pagination {
  display: none;

  @include media ($tablet-large) {
    display: flex;
    bottom: 0;
    left: 15px;
  }
}

.instructors__more {
  @include media ($tablet) {
    display: none;
  }
}

.instructors__description {
  padding: 0;
  margin: 0;
  @include font(16px, 21px, $basic-family);
  color: $section-description-color;

  @include media ($tablet-pro) {
    margin-bottom: 15px;
  }
}

.instructors__button-more {
  display: none;

  @include media ($tablet) {
    vertical-align: top;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #2B8E53;
    @include font(16px, 21px, $basic-family, 600);

    &::after {
      content: '';
      background: url(../img/down.svg) no-repeat;
      width: 16px;
      height: 16px;
    }
  }
}

.instructors__second-slider-pagination {
  display: flex;
  position: absolute;
  bottom: 24px;
  left: 10px;

  @include media ($tablet) {
    bottom: 0;
    left: 20px;
  }
}

.instructors__slider-nav {
  bottom: 21px;
  left: 196px;

  @media (max-width: 1350px) {
    left: 150px;
  }
}