.main-slider {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  max-width: 580px;
  display: flex;

  @include media ($tablet-large) {
    max-width: none;
  }
}

.main-slider__item {
  display: none;

  &._active {
    display: flex;
    align-items: flex-start;

    @include media ($tablet-large) {
      align-items: stretch;
    }

    @include media ($mobile) {
      flex-direction: column-reverse;
    }
  }
}

.main-slider__content {
  padding: 42px 20px 42px 47px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F1F1F1;
  max-width: 280px;

  @include media ($tablet-pro) {
    padding: 30px 40px;
    border-radius: 10px 0 0 10px;
  }

  @include media ($tablet-large) {
    // padding: 40px 16px;
    border-radius: 10px 0 0 10px;
  }

  @include media ($mobile) {
    max-width: 606px;
    border-radius: 0 0 10px 10px;
    padding: 20px 38px 20px 48px;
    gap: 10px;
  }
}

.main-slider__pic {
  @include media ($tablet-large) {
    flex-grow: 1;
    height: 100%;
  }
}

.main-slider__img {
  height: auto;
  border-radius: 0 10px 10px 10px;

  @include media ($tablet-pro) {
    border-radius: 0 10px 0 0;
  }

  @include media ($tablet-large) {
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
  }

  @include media ($mobile) {
    border-radius: 0;
    height: 280px;
  }
}

.main-slider__title {
  padding: 0;
  margin: 0;
  color: #101010;
  text-align: center;
  @include font(20px, 26px, $basic-family, bold);
}

.main-slider__description {
  text-align: center;
  color: #373737;
  @include font(16px, 22px, $basic-family);
}

.main-slider__info--top {
  margin-bottom: 10px;
}