.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @include media ($tablet) {
    display: block;
    text-align: center;
  }

  @include media ($mobile) {
    gap: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    text-align: left;
  }
}

// .nav__item {

//   @include media ($mobile) {
//     width: 50%;
//   }
// }

.nav__link {
  display: inline-block;
  text-decoration: none;
  @include font(16px, 19px, $basic-family);
  color: $header-primary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  vertical-align: top;
  user-select: none;
  transition: color .2s ease;

  &:before {
    content: attr(title);
    font-weight: bold;
    pointer-events: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
  }

  &:hover {
    font-weight: bold;
    color: $nav-link-hover;
  }


  @include media ($mobile) {
    @include font(16px, 21px, $basic-family);
  }
}