.offer {
  margin-bottom: 181px;

  @include media ($tablet-large) {
    margin-bottom: 80px;
  }
}

.offer__head {
  padding-top: 55px;
  padding-bottom: 20px;

  @include media ($mobile) {
    text-align: left;
    padding-top: 0;
  }
}

.offer__description {
  padding-bottom: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  @include font(16px, 21px, $basic-family);
  color: $section-description-color;

  @include media ($mobile) {
    max-width: 250px;
  }
}

.offer__bottom {
  padding-top: 60px;
  background-color: $section-primary-bg;

  @include media ($tablet) {
    padding-top: 31px;
    padding-bottom: 40px;
  }
}

.offer__subhead {
  padding-bottom: 20px;
}

// .offer__details {
//   margin-bottom: 10px;
// }