.pagination {
  display: none;

  @include media ($tablet) {
    display: flex;
    position: absolute;
    left: -41px;
    top: 91px;
  }
}

.pagination__number {
  &._active {
    color: $pagination-number-active;
  }
}