.second-slider {
  display: grid;
  column-gap: 30px;
  grid-auto-flow: column;
  list-style-type: none;
  background: linear-gradient(#F1F1F1, #F1F1F1) no-repeat left bottom/100% 132px;
  padding-bottom: 75px;
  max-width: 656px;
  margin-left: -30px;
  padding-left: 30px;
}

.second-slider__item {
  width: 190px;
}

.second-slider__description {
  padding: 0;
  margin: 0;
  @include font(16px, 21px, $basic-family);
  color: $section-description-color;
}