.second-slider {
  display: grid;
  column-gap: 30px;
  grid-auto-flow: column;
  list-style-type: none;
  background: linear-gradient($second-slider-bg, $second-slider-bg) no-repeat left bottom/100% 132px;
  padding-bottom: 80px;
  max-width: 656px;
  margin-left: -30px;
  padding-left: 30px;

  @include media ($tablet-pro) {
    max-width: 665px;
  }
}

.second-slider__item {
  width: 190px;
}

.second-slider__description {
  padding: 0;
  margin: 0;
  @include font(16px, 21px, $basic-family);
  color: $section-description-color;
}