.section-head {
  padding: 0;
  margin: 0;
  @include font(50px, 65px, $basic-family, bold);
  color: $section-head-color;

  @include media ($tablet-large) {
    @include font(25px, 33px, $basic-family, bold);
  }
}