.slider-item {
  @include media ($tablet) {
    display: none;
  }

  &._active {
    display: flex;
    gap: 30px;

    @include media ($tablet) {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
}

.about__head {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.about__description {
  margin: 0;
  padding: 0;
  text-align: center;
}

.about__description--first {
  margin-bottom: 17px;
}