.slider {
  overflow: hidden;
  // ???=>
  max-width: 1120px;
  position: relative;
  padding-top: 9px;
}

.slider__wrapper {
  display: flex;
}

.slider__nav {
  bottom: 66px;
  right: 2px;
  margin-left: auto;
}