.slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 109px;

  @include media ($tablet) {
    flex-direction: column-reverse;
    gap: 36px;
  }
}

.slide__right {
  @include media ($mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
}

.slide__pic {
  display: block;
  transform: translateY(30px);

  @include media ($tablet) {
    transform: translateY(0);
    margin: 0 auto;
  }
}