.social-networks {
  display: none;
}

.social-networks__list {
  @include media($mobile) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 9px;
  }
}

.social-networks__link {
  display: block;
}

.social-networks__icon {
  width: 32px;
  height: 32px;
}