.social-networks {
  display: none;

  @include media($tablet) {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
  }
}

.social-networks__list {
  @include media($tablet) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 9px;
  }

  // @include media($tablet) {
  //   align-items: flex-start;
  //   justify-content: start;
  // }
}

.social-networks__link {
  display: block;
}

.social-networks__icon {
  width: 32px;
  height: 32px;
}