.top-panel {
  background: $header-primary-bg;

  @include media($tablet) {
    background: $header-secondary-bg;
    box-shadow: 5px 10px 30px rgba($top-panel-shadow, 0.1);
  }
}

.top-panel__contacts {
  margin-right: 30px;

  @include media($tablet) {
    background: $header-secondary-bg;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
  }
}

.top-panel__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include media($mobile) {
    display: grid;
    grid-template-columns: 182px 1fr;
    grid-template-rows: repeat(2, 1fr);
    // column-gap: 83px;
    row-gap: 37px;
    // grid-template-areas: ;
  }
}

.top-panel__link {
  text-decoration: none;
  display: flex;
  gap: 30px;
  text-align: left;
  margin-right: 81px;

  @include media($tablet-pro) {
    margin-right: 50px;
  }

  @include media($mobile) {
    margin-right: 0;
    position: relative;
    z-index: 2;
  }
}

.top-panel__logo {
  @include media($tablet) {
    width: 45px;
    height: 43px;
  }
}

.top-panel__name {
  color: $header-primary-color;
  @include font(20px, 26px, $basic-family, 600);

  @include media($tablet) {
    @include font(18px, 23px, $basic-family, 600);
  }
}